<footer class="text-muted py-5">
  <div class="container">
    <p class="float-right">
      <a href="#">Voltar ao topo</a>
    </p>
    <p>&copy; 2019 A 50 passos</p>
    <p>
      À procura de arrendamento? <a href="/catalog">Veja o nosso catálogo</a>.
    </p>
  </div>
</footer>
