<footer class="background-white text-muted py-5 shadow-sm">
  <div class="container">
    <p class="float-right">
      <a class="link-style-light" href="#">Voltar ao topo</a>
    </p>
    <p>&copy; 2019 A 50 passos</p>
    <p class="float-right text-right">
      created by: João Fraga
      <br />
      <a
        class="link-style-light"
        href="mailto:joaoluisfreirefraga@gmail.com?subject=Website"
        >joaoluisfreirefraga@gmail.com</a
      >
    </p>
    <p>
      À procura de arrendamento?<br /><a
        class="link-style-light"
        href="/catalog/0"
        >Veja o nosso catálogo</a
      >.
    </p>
  </div>
</footer>
