<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Sobre nós</h4>
          <p class="text-muted">.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contactos</h4>
          <ul class="list-unstyled text-white">
            <li>
              <a
                href="https://www.facebook.com/A50passos-636501696831370/"
                class="text-white"
                target="_blank"
                >Página no Facebook</a
              >
            </li>
            <li>
              <a
                href="mailto:absbarrus@gmail.com?subject=Arrendamento"
                class="text-white"
                >absbarrus@gmail.com</a
              >
            </li>
            <li>
              <a href="tel:912333314" class="text-white">912333314</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark nav-style shadow-sm">
    <div class="navbar-expand-sm">
      <div class="container d-flex justify-content-between ">
        <a
          href="/"
          class="navbar-brand d-flex align-items-center"
          style="font-family: 'Averia Sans Libre';"
        >
          <strong>A 50 Passos</strong>
        </a>
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle dropdown-style"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Catálogo</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/catalog/rooms/0">Quartos</a>
            <a class="dropdown-item" href="/catalog/apartments/0"
              >Apartamentos</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/catalog/0">Ambos</a>
          </div>
        </div>
      </div>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarHeader"
      aria-controls="navbarHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>
