<header>
  <div class="collapse nav-style-background" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Sobre nós</h4>
          <p class="text-muted">.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contactos</h4>
          <ul class="list-unstyled text-white">
            <li>
              <a href="https://www.facebook.com/A50passos-636501696831370/" class="link-style-dark" target="_blank"
                rel="noreferrer noopener">Página no Facebook</a>
            </li>
            <li>
              <a href="mailto:geral@a50passos.com?subject=Arrendamento" class="link-style-dark">geral@a50passos.com</a>
            </li>
            <li>
              <a href="tel:912333314" class="link-style-dark">912333314</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark nav-style shadow-sm nav-style-background-bar">
    <div class="navbar-expand-sm">
      <div class="container d-flex justify-content-between ">
        <a href="/" class="navbar-brand d-flex align-items-center" style="font-family: 'Poiret One', sans-serif;">
          <strong>a50passos</strong>
        </a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-link-style" href="#" id="navbarDropdownMenuLink"
            data-toggle="dropdown">Catálogo</a>
          <div class="dropdown-menu">
            <a class="dropdown-item navbar-dropdown-style" href="/catalog/rooms/0">Quartos</a>
            <a class="dropdown-item navbar-dropdown-style" href="/catalog/apartments/0">Apartamentos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item navbar-dropdown-style" href="/catalog/0">Ambos</a>
          </div>
        </div>
      </div>
    </div>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader">
      <span class="navbar-toggler-icon"></span>
    </a>
  </div>
</header>
