<form
  action="/dashboard/addHouse"
  method="POST"
>
  <div class="form-group">
    <label for="id">ID *</label>
    <input
      name="id"
      type="text"
      class="form-control"
      placeholder="ID a adicionar"
      autocomplete="off"
      required
    >
  </div>
  <hr>
  <div class="form-group">
    <label for="title">Titulo *</label>
    <input
      name="title"
      type="text"
      class="form-control"
      placeholder="Titulo"
      autocomplete="off"
      required
    >
  </div>
  <div class="form-group">
    <label for="address">Morada *</label>
    <input
      name="address"
      type="text"
      class="form-control"
      placeholder="Morada"
      autocomplete="off"
      required
    >
  </div>
  <div class="form-group">
    <label for="description">Descrição</label>
    <textarea
      name="description"
      type="text"
      class="form-control"
      placeholder="Descrição"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="tip">Tooltip</label>
    <input
      name="tip"
      type="text"
      class="form-control"
      placeholder="Tooltip"
      autocomplete="off"
    >
  </div>
  <div class="form-group">
    <label for="wc">WC *</label>
    <input
      name="wc"
      type="number"
      min="1"
      class="form-control"
      placeholder="Nr"
      required
    >
  </div>
  <div class="form-group">
    <label for="type">Tipo *</label>
    <input
      name="type"
      type="number"
      min="1"
      max="2"
      class="form-control"
      placeholder="Tipo"
      required
    >
    <small class="form-text text-muted">1 - Quarto<br>2 - Apartamento</small>
  </div>
  <small class="form-text text-muted">* Campos obrigatórios</small>
  <hr>
  <div class="form-group form-check">
    <input
      id="suite"
      name="suite"
      type="checkbox"
      class="form-check-input"
    >
    <label
      class="form-check-label"
      for="suite"
    >Suite</label>
  </div>
  <div class="form-group form-check">
    <input
      id="elevator"
      name="elevator"
      type="checkbox"
      class="form-check-input"
    >
    <label
      class="form-check-label"
      for="elevator"
    >Elevador</label>
  </div>
  <div class="form-group form-check">
    <input
      id="dinningroom"
      name="dinningroom"
      type="checkbox"
      class="form-check-input"
    >
    <label
      class="form-check-label"
      for="dinningroom"
    >Sala de jantar</label>
  </div>
  <div class="form-group form-check">
    <input
      id="balcony"
      name="balcony"
      type="checkbox"
      class="form-check-input"
    >
    <label
      class="form-check-label"
      for="balcony"
    >Varanda</label>
  </div>
  <div class="form-group form-check">
    <input
      id="gardin"
      name="gardin"
      type="checkbox"
      class="form-check-input"
    >
    <label
      class="form-check-label"
      for="gardin"
    >Terraço</label>
  </div>
  <div class="row text-center">
    <small class="form-text text-muted">A casa apenas será criada se existirem 4 fotos</small>
    <button
      class="btn btn-lg btn-success btn-block"
      type="submit"
    >
      Adicionar Casa
    </button>
  </div>
  <br>
</form>
