<form action="/dashboard/editHouse" method="POST">
  <div id="modalEditHouse" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar casa</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="id">ID *</label>
            <input
              name="id"
              type="text"
              class="form-control"
              placeholder="ID a editar"
            />
            <small class="form-text text-muted">* Campo obrigatório</small>
          </div>
          <hr />
          <div class="form-group">
            <label for="title">Titulo</label>
            <input
              name="title"
              type="text"
              class="form-control"
              placeholder="Titulo (optional)"
            />
          </div>
          <div class="form-group">
            <label for="address">Morada</label>
            <input
              name="address"
              type="text"
              class="form-control"
              placeholder="Morada (optional)"
            />
          </div>
          <div class="form-group">
            <label for="description">Descrição</label>
            <textarea
              name="description"
              type="text"
              class="form-control"
              placeholder="Descrição (optional)"
              style="resize: none"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="tip">Tooltip</label>
            <input
              name="tip"
              type="text"
              class="form-control"
              placeholder="Tooltip (optional)"
            />
          </div>
          <div class="form-group">
            <label for="wc">WC</label>
            <input
              name="wc"
              type="number"
              min="1"
              class="form-control"
              placeholder="Nr (optional)"
            />
          </div>
          <small class="form-text text-muted"
            >Todos estes campos são opcionais, apenas os que alterar serão
            actualizados</small
          >
          <hr />
          <div class="form-group form-check">
            <input
              id="suite"
              name="suite"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="suite"
              >Suite<small class="text-muted text-center">
                (Opcional)</small
              ></label
            >
          </div>
          <div class="form-group form-check">
            <input
              id="elevator"
              name="elevator"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="elevator"
              >Elevador<small class="text-muted text-center">
                (Opcional)</small
              ></label
            >
          </div>
          <div class="form-group form-check">
            <input
              id="dinningroom"
              name="dinningroom"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="dinningroom"
              >Sala de jantar<small class="text-muted text-center">
                (Opcional)</small
              ></label
            >
          </div>
          <div class="form-group form-check">
            <input
              id="balcony"
              name="balcony"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="balcony"
              >Varanda<small class="text-muted text-center">
                (Opcional)</small
              ></label
            >
          </div>
          <div class="form-group form-check">
            <input
              id="gardin"
              name="gardin"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="gardin"
              >Terraço<small class="text-muted text-center">
                (Opcional)</small
              ></label
            >
          </div>
          <small class="form-text text-muted"
            >Selecione os que se aplicam</small
          >
          <hr />
          <div class="form-group form-check">
            <input
              id="checkbox"
              name="checkbox"
              type="checkbox"
              class="form-check-input"
            />
            <label class="form-check-label" for="checkbox"
              >Actualizar checkboxes?</label
            >
            <small class="form-text text-muted"
              >Se estiver selecionado, a casa será actualizada com os valores
              das checkboxes em cima</small
            >
          </div>
        </div>
        <div class="modal-footer">
          <small class="form-text text-muted text-center"
            >A casa será actualizada com os novos parametros e fotos
            especificados</small
          >
          <button class="btn btn-lg btn-success btn-block" type="submit">
            Editar casa
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
