<%- include("partials/_header.ejs") %>

<main role="main">
  <div class="bg-light">
    <div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Procurar arrendamento<br>não tem que ser um tormento</h1>
        <p class="lead text-muted">Seja qual for a Universidade, temos um quarto a 50 passos!<br>Quartos e Apartamentos
          para arrendar</p>
        <p>
          <a href="/catalog" class="btn btn-primary my-2">Veja o nosso catálogo</a>
        </p>
      </div>
    </div>
    <div class="text-center">
      <br>
      <h1 class="display-3"><strong></strong>A 50 Passos</strong></h1>
      <br>
    </div>
    <div class="container sliding-text" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="ease-in-cubic" data-aos-duration="1000">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <h2>Internet</h2>
          <p class="lead text-muted"><em>Todos os quartos vêm com internet incluída</em></p>
          <p>Blah blah blah blah blah blah blah blah blah blah blah blah falar sobre
            porque é que net é bom e não ter que se preocupar com contractos etc etc</p>
        </div>
      </div>
    </div>
    <div class="container sliding-text" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="ease-in-cubic" data-aos-duration="1000">
      <div class="row">
        <div class="col-md-5 offset-md-7 text-right">
          <h2>Limpeza</h2>
          <p class="lead text-muted"><em>Serviços de limpeza de zonas comuns incluída</em></p>
          <p>Blah blah blah blah blah blah blah blah blah blah blah blah falar sobre
            porque é que não ter que limpar e bom etc etc</p>
        </div>
      </div>
    </div>
    <div class="container sliding-text" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="ease-in-cubic" data-aos-duration="1000">
      <div class="row">
        <div class="col-md-5">
          <h2>Lavandaria</h2>
          <p class="lead text-muted"><em>Serviço de lavandaria opcional</em></p>
          <p>Blah blah blah blah blah blah blah blah blah blah blah blah falar sobre
            porque é que lavandaria é bom e não ter que se preocupar com roupa etc etc</p>
        </div>
      </div>
    </div>
    <div class="container sliding-text" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="ease-in-cubic" data-aos-duration="1000">
      <div class="row">
        <div class="col-md-5 offset-md-6 text-right">
          <h2>Duvidas?</h2>
          <p class="lead text-muted"><em>Estamos aqui para ajudar</em></p>
          <p>Blah blah blah blah blah blah blah blah blah blah blah blah tentar encorajar a ligar</p>
        </div>
      </div>
    </div>
    <br>
  </div>
</main>


<%- include("partials/_footer.ejs") %>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init()</script>
