<%- include("partials/_header.ejs") %>

<main role="main">
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        És estudante?<br />Estás à procura de arrendar?
      </h1>
      <p class="lead text-muted">
        Seja qual for a Universidade,<br />temos um espaço a 50 passos!
      </p>
      <p>
        <a href="/catalog/rooms/0" class="btn btn-primary my-2"
          >Vê os nossos quartos</a
        >
        <a href="/catalog/apartments/0" class="btn btn-primary my-2"
          >Vê os nossos apartamentos</a
        >
      </p>
    </div>
  </div>
  <div class="text-center background-white shadow">
    <br />
    <h1 class="display-4 py-5" style="font-family: 'Averia Sans Libre';">
      <strong>a50passos.com</strong>
    </h1>
    <h5 class="text-muted">
      Fazemos a gestão de
      <strong class="text-dark">146</strong> quartos. <br />
      Podemos cuidar dos seus?
    </h5>
    <br />
    <p class="text-muted">
      Contacte-nos: <a href="tel:912333314">912333314</a>
    </p>
    <br />
  </div>
  <div
    class="background-white container my-5 p-2 shadow"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
    data-aos-easing="ease-in-cubic"
    data-aos-duration="750"
  >
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div
    class="container my-5 pt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
    data-aos-easing="ease-in-cubic"
    data-aos-duration="750"
  >
    <div class="row">
      <div class="col-md-5 background-white rounded shadow offset-md-1">
        <h2 class="py-4">Internet</h2>
        <p class="lead text-muted">
          <em>Todos os quartos vêm com internet incluída</em>
        </p>
        <p>
          Internet ilimitada e está incluída no teu quarto! Não gastes os teus
          dados móveis nem te preocupes com contratos com fidelização
        </p>
      </div>
    </div>
  </div>
  <div
    class="container my-5 pt-4"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
    data-aos-easing="ease-in-cubic"
    data-aos-duration="750"
  >
    <div class="row">
      <div
        class="col-md-5 background-white rounded shadow offset-md-7 text-right"
      >
        <h2 class="py-4">Limpeza</h2>
        <p class="lead text-muted">
          <em>Serviços de limpeza de zonas comuns para quartos incluída</em>
        </p>
        <p>
          Não te preocupes com nada, a limpeza aos wc cozinha e áreas comuns,
          são por nossa conta!
        </p>
      </div>
    </div>
  </div>
  <div
    class="container my-5 pt-4"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
    data-aos-easing="ease-in-cubic"
    data-aos-duration="750"
  >
    <div class="row">
      <div class="col-md-5 background-white rounded shadow">
        <h2 class="py-4">Lavandaria</h2>
        <p class="lead text-muted"><em>Serviço de lavandaria opcional</em></p>
        <p>
          Não queres andar carregado com malas de roupa para trás e para a
          frente? Temos disponíveis serviços de troca de lençóis de cama e banho
          e até lavamos a tua roupa...
        </p>
      </div>
    </div>
  </div>
  <div
    class="container my-5 pt-4 pb-5"
    data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom"
    data-aos-easing="ease-in-cubic"
    data-aos-duration="750"
  >
    <div class="row">
      <div
        class="col-md-5 background-white rounded shadow offset-md-6 text-right"
      >
        <h2 class="py-4">Duvidas?</h2>
        <p class="lead text-muted"><em>Estamos aqui para ajudar</em></p>
        <p>
          Não ficaste esclarecido sobre os nossos serviços? Queres visitar os
          nossos quartos? Fala connosco, estamos disponíveis para te esclarecer
          e apoiar no que precisares:
          <a class="lead" href="tel:912333314">912333314</a>
        </p>
      </div>
    </div>
  </div>
  <br />
</main>

<%- include("partials/_footer.ejs") %>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
