.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

.carousel {
  margin-bottom: 6rem;
  background-color: rgba(192, 192, 192, 0.25);
}

.carousel-item {
  height: auto;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.toast {
  position: fixed;
  min-width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-bottom: 0 !important;
}

.banner-catalog {
  position: absolute;
  width: 100%;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-house {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge-catalog {
  width: 95%;
  margin-left: 2.5%;
  font-size: 2rem;
}

.badge-house {
  width: 100%;
  font-size: 3rem;
}
