<div class="embed-responsive embed-responsive-4by3">
  <iframe
    title="Localização"
    class="embed-responsive-item"
    style="border: 0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCqjz4i7Y9I0CW2QWNmshmA7JFseTzzkgg&q=<%= data.address %>&zoom=16"
    allowfullscreen
  >
  </iframe>
</div>
