<footer class="background-white text-muted py-5 shadow-sm">
  <div class="container">
    <h5>Contactos</h5>
    <ul class="list-unstyled">
      <li>
        <a href="https://www.facebook.com/A50passos-636501696831370/" class="link-style-light" target="_blank"
          rel="noreferrer noopener"><i class="bi bi-facebook"></i> a50passos</a>
      </li>
      <li>
        <a href="mailto:geral@a50passos.pt?subject=Arrendamento" class="link-style-light"><i class="bi bi-envelope-fill"></i> geral@a50passos.pt</a>
      </li>
      <li>
        <a href="tel:912333314" class="link-style-light"><i class="bi bi-phone-fill"></i> 912333314</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <p class="float-right">
      <a class="link-style-light" href="#">Voltar ao topo</a>
    </p>
    <p><a href="/dashboard" class="text-dark" style="text-decoration:none">&copy;</a> <%= new Date().getFullYear() %> a50passos</p>
  </div>
</footer>
