<div class="toast" data-autohide="false">
  <div class="toast-header">
    <strong class="mr-auto text-primary">Contacte-nos</strong>
    <a class="ml-2 mb-1 close" data-dismiss="toast">
      &times;
    </a>
  </div>
  <div class="toast-body">
    Telemóvel: <a href="tel:912333314">912333314</a> |
    Email: <a href="mailto:geral@a50passos.pt?subject=Arrendamento">geral@a50passos.pt</a>
  </div>
</div>
