<%- include("../partials/_header.ejs") %>

<main>
  <div class="bg-light">
    <div class="container">
      <%- include("../partials/dashboard/_photos.ejs") %>
      <hr />
      <%- include("../partials/dashboard/_addHouse.ejs") %>
    </div>
  </div>
</main>
