<main>
  <div class="error-page d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block"><%= error %></span>
          <div class="mb-4 lead"><%= description %></div>
          <a href="/" class="link-style-light">Voltar à página principal</a>
        </div>
      </div>
    </div>
  </div>
</main>
