<main>
  <div class="background-white my-0 py-3 text-center">
    <a class="link-style-light" href="/house/<%= id %>">Fechar</a>
  </div>
  <img src="/images/<%= id %>/photo<%= number %>.jpg" class="img-fluid" />
</main>
