<%- include("../partials/_header.ejs") %>

<main class="text-center">
  <div class="bg-light">
    <div class="container">
      <form class="form-style w-100 p-4" action="/login" method="POST">
        <img
          class="my-4"
          src="images/logo/50passos.png"
          alt=""
          width="72"
          height="72"
        />
        <h1 class="h3 my-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          placeholder="Email address"
          required
          autofocus
        />
        <br />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
      </form>
    </div>
  </div>
</main>
