<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="author" content="João Fraga" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="description"
    content="És estudante? Estás à procura de arrendar? Seja qual for a Universidade temos um espaço a 50 passos!" />
  <meta name="keywords"
    content="quarto,quartos,casa,casas,porto,Porto,arrendar quarto, arrendar quartos,alugar quarto, alugar quartos,apartamento,apartamentos,arrendamento,arrendamentos,arrendar casa,arrendar casas,alugar casa, alugar casas,arrendar apartamento,arrendar apartamentos,alugar apartamento,alugar apartamentos,t0,t1,t2,t3,t4,real estate,rooms,houses,apartments,property,renting,oporto,Oporto,alojamento,alojamentos,alojamento porto, alojamento Porto,quarto porto,quarto Porto,apartamento porto, apartamento Porto" />
  <meta name="google-site-verification" content="f-5HmzXq_TiMh_d5u54tbYcZGaX8raH-bYmXadEvV10" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="/images/logo/50passos.png" />
  <title>a50passos | Quartos e Imóveis para Arrendar</title>
</head>

<body class="bg-light">
  <%- body %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script>
      $(document).ready(() => {
        $(".toast").toast("show");
      });
    </script>
</body>

</html>
